= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %ul
        - @booking.errors.full_messages.each do |msg|
          %li.red
            = msg

  .field
    = f.hidden_field :user_id, value: current_user.id
  .field
    = f.label :checkin
    = f.text_field :checkin, required: true, class: 'datetimepicker'
  .field
    = f.label :checkout
    = f.text_field :checkout, required: true, class: 'datetimepicker'
  .actions
    = f.submit 'Save', class: 'btn'
