%nav.blue
  .nav-wrapper
    %a.brand-logo{:href => "/"} Stadium Booker
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to('Dashboard', root_path)
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li
          = link_to('Login', new_user_session_path)
        %li
          = link_to('Register', new_user_registration_path)
    %ul#mobile-demo.side-nav
      - if user_signed_in?
        %li
          %a{:href => "sass.html"} Sass
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li
          = link_to('Login', new_user_session_path)
        %li
          = link_to('Register', new_user_registration_path)
